@model ProyectoWeb.Models.Producto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<style>
   



h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    height: 500px;
    overflow: hidden;
    width: 400px;
}

.card > figure {
    width: 90%;
    margin: 20px auto 0 auto;
}

.card > figure > img {
    width: 100%;
}

.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 85%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 40%;
}

.details > .min-details,
.details > .options,
.details > .options > .options-size,
.details > .options > .options-colors {
    margin-bottom: 20px;
}

.details > .min-details {
    display: flex;
    justify-content: space-between;
}

.details > .min-details > h1 > span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

.details > .options h1 {
    margin-bottom: 5px;
}

.details > .options ul {
    list-style-type: none;
    display: flex;
}

.details > .options ul li {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}


.btnc {
    background-color: #192a56;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}

.btnc:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}
</style>

<div class="card filter @Model.Categoria.NombreCategoria.Replace(' ', '-')">
    <figure>
        <img src="@WC.ImagenRuta@Model.ImagenUrl" alt="t-shirt">
    </figure>
    <section class="details">
        <div class="min-details">
            <h1>@Model.NombreProducto</h1>
            <h1 class="price">$@Model.Precio</h1>
        </div>
        <div class="min-details">
            <h1>@Model.DescripcionCorta</h1>

        </div>
        <a class="btnc" asp-action="Detalle" asp-route-Id="@Model.Id">View Details</a>
    </section>
</div>

